<div class="container aos-init aos-animate" data-aos="fade" style="background: #ffffff;">
  <div class="row">
  <div class="col" style="background: #fda824;min-width: 250px;min-height: 250px;padding-top: 0px;">
      <img src=".{{.imageUrl}}" class="flex img img-flex responsive img-responsive"/>
  </div>
  <div class="col" style="padding-left: 30px;">
  <h2 style="color: rgb(255,255,255);padding: 30px;font-size: 24px;">{{ .Title }}</h2>
  {{ if .subtitle }}
  <h4>
    {{.subtitle}}
  </h4>
  {{ end }}

  <p style="font-family: Assistant, sans-serif;">
  {{ .Description }}
  </p>
  </div>
  </div>
</div>
