{{ if gt .Paginator.TotalPages 1 }}

<div class="container aos-init aos-animate" data-aos="fade" style="background: #ffffff; height:20px">
  <span class="float-left">
    {{ if .Paginator.HasNext }}
    <a class="btn btn-sm btn-dark" title="Zurück" href="{{ .Paginator.Next.URL }}">
        &larr; Zurück
    </a>
    {{ end }}
  </span>
  <span class="float-right">
    {{ if .Paginator.HasPrev }}
        <a class="btn btn-sm btn-dark" title="Vor" href="{{ .Paginator.Prev.URL }}">
            Vor &rarr;
        </a>
        {{ end }}
  </span>
</div>

{{ end }}
