{{ define "main" }}
<div class="container aos-init aos-animate" data-aos="fade" style="background: #ffffff;">
  <div class="row">
  <div class="col" style="min-width: 250px;min-height: 250px;padding-top: 0px;">
    {{ if .Params.image }}
      <img src="/{{ .Params.image }}" alt="{{ .Title }}" class="img img-fluid"/>
    {{ end }}
  </div>
  <div class="col" style="padding-left: 30px;">
  <h2 style="font-size: 24px;">{{ .Title }}</h2>
  <p style="font-family: Assistant, sans-serif;">
  {{ .Description }}
  </p>
  <table class="table table-condensed table-striped align-items-end">
    <tr>
      <th>Aktualisiert</th>
      <th>Lesezeit</th>
    </tr>
    <tr>
      <td>{{ .Date.Format "Mon, Jan 2, 2006" }}</td>
      <td>{{ .ReadingTime }} Minuten</td>
    </tr>
  </table>
  </div>

  </div>
</div>
<div class="container aos-init aos-animate" data-aos="fade" style="background: #ffffff;font-family: Assistant, sans-serif;">
      {{ .Content }}
</div>
<div class="container aos-init aos-animate" data-aos="fade" style="background: #ffffff;">
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = PAGE_URL;
this.page.identifier = PAGE_IDENTIFIER;
};
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://corrently.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{{ end }}
